<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flora</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style type="text/css">
            body, html {
                margin:0; padding:0;
		overflow:hidden;
                background:#000;
            }
        </style>
    </head>
    <body>
        <script type="x-shader/x-vertex" id="petal-vertex">
            <%- files['petal-vertex'] %>
        </script>
        <script type="x-shader/x-vertex" id="petal-fragment">
            <%- files['petal-fragment'] %>
        </script>
        <script type="text/javascript">
            window.isStatic = <%= isStatic %>;
        </script>
        <script src="vendor/dat.gui.js"></script>
        <script src="vendor/three.min.js"></script>
        <script src="index.js"></script>
	<script>
//		setTimeout(function() {
//			window.location = window.location + '?' + Math.random().toString().slice(1, 2)
//		}, 60000)
	</script>
    </body>
</html>
