<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Flora</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <style type="text/css">
            body, html {
                margin:0; padding:0;
                background:#fff;
            }
        </style>
    </head>
    <body>
        <script type="x-shader/x-vertex" id="petal-vertex">
            <%- files['petal-vertex'] %>
        </script>
        <script type="x-shader/x-vertex" id="petal-fragment">
            <%- files['petal-fragment'] %>
        </script>
        <script src="/vendor/three.min.js"></script>
        <script src="/index.js"></script>
    </body>
</html>